@model Customer

<h1>Edit Your Profile</h1>
<form asp-action="Edit" asp-controller="Customer">
    <div>
        <label>User Id</label>
        <input type="text" name="UserId" value="@Model.UserId" class="form-control"/>
    </div>
    <div>
        <input type="hidden" value="@Model.Id"/>
        <label for="">Name</label>
        <input type="text" name="FullName" value="@Model.FullName" class="form-control"/>
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="Address" value="@Model.Address" class="form-control"/>
    </div>
    <div>
        <label>Phone Number</label>
        <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control"/>
    </div>
    
    <button type="submit" class="btn-primary btn">Update</button>
</form>